<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>终端测试页面</title>
</head>
<style type="text/css">
    body{
        text-align: center;
    }
    #s-content{
        width: 400px;
        margin: 0 auto;
        padding: 40px;
        text-align: center;
        border: 1px solid black;
    }
    #s-content div{
        width: 300px;
        text-align: left;
    }
    #s-content div:last-child{
        width: 300px;
        text-align: center;
    }
</style>
<body>
    <div id="s-content">
        <form enctype="multipart/form-data" action="/client/finger_01" method="post">
            <div>
                文本：<input id="deviceid" name="deviceid" value="110102006229"/>
            </div>
            <div>
                文件：<input id="image" name="image" type="file"/>
            </div>
            <div>
                <input type="submit" value="提交">
            </div>
        </form>
    </div>
</body>
</html>